@import "tailwindcss";

/* 🔽 ตัวแปร custom property */
:root {
  --font-k2d: "K2D", sans-serif;
  --primary-color: #ff5733; /* สีหลัก (แดง-ส้ม) */
  --secondary-color: #ffc300; /* สีรอง (เหลือง) */
  --accent-color: #900c3f; /* สีเน้น (แดงเข้ม) */
  --bg-light: #f5f5f5; /* พื้นหลังสีอ่อน */
  --black-color: #ffffff;
}

/* ใช้ CSS Variables ในสไตล์ต่าง ๆ */
.text-heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #262626;
}
