@import "tailwindcss";

/* 🔽 ตัวแปร custom property */
:root {
  --font-k2d: "K2D", sans-serif;
  --primary-color: #ff5733; /* สีหลัก (แดง-ส้ม) */
  --secondary-color: #ffc300; /* สีรอง (เหลือง) */
  --accent-color: #900c3f; /* สีเน้น (แดงเข้ม) */
  --bg-light: #f5f5f5; /* พื้นหลังสีอ่อน */
}

/* ใช้ CSS Variables ในสไตล์ต่าง ๆ */
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  color: transparent;
}

h1::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #ff5733;
  animation: underline 0.5s forwards;
}

@keyframes underline {
  to {
    width: 100%;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--tw-border-color, currentcolor);
  }
}
